/* add various customizations... */

/* make logo larger than the default, and add shadow */
.navbar-custom .navbar-brand-logo img {
  height: 180px;
  padding-top: 65px;
}

/* make headers bold instead of extra-bold */
h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav li a {
  font-weight: 400;
  font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
}
}
.post-preview .post-read-more {
  font-weight: 400;
}
.pager li a {
  font-weight: 400;
}

